.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
  /*  pointer-events: none;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
