.card__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    row-gap: 20px;
    column-gap: 17px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  /*  justify-content: center;*/
}
/*.card__list:nth-child(3n+3){
    row-gap: 0;
}*/

@media screen and (max-width: 880px){
  .card__list{
      justify-content: center;
    }
  }
  