.card__trash {
    width: 18px;
    height: 19px;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-image: url(../../../images/Trash.png);
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(244px, 20px);
    z-index: 5;
}

.card__trash:hover {
    opacity: 0.5;
    cursor: pointer;
}