.card__like-button {
    background-image:url(../../../images/like_button.svg);
    min-width: 22px;
    height: 19px;
    border: none;
    padding: 0;
    background-color: transparent;
    object-fit: cover;
}
.card__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}
