.profil__edit {
    background-image: url(../../../images/edit-button.svg);
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
}

.profil__edit:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    .profil__edit {
        width: 18px;
        height: 18px;
    }
}