.popup__close-button {
    background-image: url(../../../images/Close-Icon.svg);
    border: none;
    background-repeat: no-repeat;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    cursor: pointer;
    transition: opacity 0.2s;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 880px) {
    .popup__close-button {
        background-size: cover;
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}
