@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profil/profil.css);
@import url(../blocks/profil/__container/profil__container.css);
@import url(../blocks/profil/__add/profil__add.css);
@import url(../blocks/profil/__edit/profil__edit.css);
@import url(../blocks/profil/__avatar/profil__avatar.css);
@import url(../blocks/profil/__info/profil__info.css);
@import url(../blocks/profil/__fullname/profil__fullname.css);
@import url(../blocks/profil/__aboutme/profil__aboutme.css);
@import url(../blocks/profil/__item/profil__item.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__list/card__list.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__item/card__item.css);
@import url(../blocks//card/__trash/card__trash.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__information/popup__information.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__card/popup__card.css);


/*{
    border: 1px solid red;
}*/         