.popup__input {
    border:none;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    box-sizing: border-box;
    padding: 0 0 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 1;
    outline: none;
}
    .popup__input:last-child {
        margin-bottom: 48px;
    }

    @media screen and (max-width: 880px) {
        .popup__input:last-child {
                margin-bottom: 45px;
            }
    }
    
    