.profil__fullname{
    font-size: 42px;
    line-height: 1.15;
    font-weight: 500;
    padding-right: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;

}
@media screen and (max-width: 880px){
    .profil__fullname{
        font-size: 27px;
        line-height: 1.21;
        max-width: 200px;
    }
}