.profil__add{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 50px;
    background-image: url(../../../images/plus.svg);
    border-radius: 2px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
}
.profil__add:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width: 880px){
.profil__add{
    width: 100%;
    }
}
